body{
    background: #2C2B3D;
}

header {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 71px 99px;
}

.links {
    text-decoration: none;
    color: #FFFFFF;
}

a+a {
    margin-left: 64px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1092px;
    align-items: center;
    margin: auto;
}

.texto {
    height: 1092px;
    text-align: center;
}



h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

span {
    color: #00BFA6;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #C2C2C2;  
    text-align: center;
}

#linha {
    width: 568px;
    border: 1px solid #00bfa6;
    height: 0px;
    margin: auto;
    margin-bottom: 27px;
}

footer {
    font-family: 'JetBrains Mono', monospace;    
    color: #C2C2C2;  
    font-size: 14px;
    text-align: center;
    margin-top: 157px;
    align-items: center;
}

.cadeado {
    position: absolute;
}